@import url('https://fonts.googleapis.com/css?family=Baumans|Exo:400,500&display=swap');

body {
  font-family: 'Exo', sans-serif;
  min-height: 100%;
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}

#main-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

#search {
  position: relative;
  display: block;
  width: (45vw + 2.3vw);
  height: 5vw;
  font-size: 2.5em;
  border-radius: 5px;
  border: none;
  text-align: center;
  opacity: 0.5;
}

button {
  position: relative;
  vertical-align: middle;
  font-size: 2.5em;
  border: none;
  text-align: center;
  opacity: 0.5;
  background: none;
  left: -1.3em;
  cursor:pointer;
}

.form-container {
  display: flex;
  flex-direction: row;
  input { flex-grow: 1; }
}

#modalgif {
  width: auto;
  height: auto;
}

.modal {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  
  position: fixed;
  z-index: 100;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  background:#e4f3f3;
}

.closed {
  display: none;
}

datalist {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#data-receptor {
  display: flex;
  flex-flow: column;
  padding: 1em;
  margin: 1.2em;;
  text-align: center;
  flex-flow: column;
  align-self: center;
  width: 45vw;
  max-width: 45vw;
  
  #titleContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    font-size: 1.8em;
    i { margin-right: 0.8em;}
  }
  
  #firstRow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .col {flex: 1;}
  }
  .weatherIcon {
    height: 10em;
    width: auto;
    object-fit: cover;
  }
  h4 { margin: 0;}
  #temp {
    font-size: 5em;
    font-family: 'Baumans', cursive;
  }
  
  #desc {text-transform: capitalize;}
}